/* header.css */
@charset "UTF-8";
.header{
    height: 80px;
    background-color: rgb(253, 249, 0);
    display: flex;
    width: 1520px;
}
.headerBar{
    position: absolute;
    top: 0px;
    left: 80px;
}
.headerBar li{
    list-style: none;
    padding: 15px 20px 15px 20px;
    flex-direction: row;
    float: left;
    font-size: 25px;
}
a{
    text-decoration-line: none;
    color: black;
}
a:hover{
    color: chocolate;
}
#logo{
    width: 80px;
}
.btn{
    background-color: black;
    color: rgb(253, 249, 0);
    margin: 5px;
    font-size: 25px;
    float: right;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;    
}
.btn:hover{
    background-color: chocolate;
}
#divBtn{
    width: 300px;
    height: 100px;
    float: right;
    position: absolute;
    left: 1200px;
    top: 20px;
}