/* join.css */
@charset "utf-8";
.container{
    width: 600px;
    margin: 50px 450px;
}
h1{
    text-align: center;
}
li{
    list-style: none;
    margin-bottom: 10px;
}
.title{
    width: 120px;
    float: left;
    font-weight: bold;
    font-size: 17px;
}
#joinId, #joinPw, #joinPwCheck{
    width: 300px;
}
#joinBtn{
    text-align: center;
    margin: 8px;
}
.joinBtn{
    background-color: gray;
    color: #F6F6F6;
    border: none;
    width: 100px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}